<script setup lang="ts"></script>
<template>
  <v-container>
    <v-card elevation="17" class="card">
      <div><h1>My Profiles</h1></div>
      <v-row>
        <v-col sm="4"
          ><v-avatar size="300">
            <v-row justify="center">
              <v-col
                ><v-img
                  src="https://scontent.fbkk5-1.fna.fbcdn.net/v/t1.15752-9/319301574_1521814331671670_7906661154840282088_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEL_YfnKmQILfe5QG_6VHBOUzNpLLA9Ur9TM2kssD1Sv3TqKBOwOwraz4lmAaqgmLQMjVIimFpdESZxr8NHZm9u&_nc_ohc=dB5F6YNBjuQAX92XQSN&_nc_ht=scontent.fbkk5-1.fna&oh=03_AdRTy6T8ZqNtWi9h_t3zGKUNMNDqlANTl0CJOlJFuwoSRg&oe=63C60BFC"
                  alt="John"
                  cover
                ></v-img>
              </v-col>
            </v-row> </v-avatar
        ></v-col>
        <v-col sm="8">
          <v-row>
            <v-table style="width: 100%">
              <thead>
                <tr>
                  <th class="text-center">Kittipon Thaweelarb</th>
                  <th class="text-center">BUU</th>
                  <th class="text-center">Com-Sci</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="td">Name</td>
                  <td class="td">School</td>
                  <td class="td">Interest</td>
                </tr>
              </tbody>
            </v-table>
          </v-row>
          <v-row>
            <h2>88624359 Web Programming</h2>
          </v-row>

          <v-row
            ><br />
            <h4>Course Description</h4>
            การสร้างโปรแกรมประมวลผลบนระบบเว็บ การออกแบบส่วนติดต่อผู้ใช้
            การสร้างเว็บแบบไดนามิก ภาษาโปรแกรมฝั่งลูกข่ายและแม่ข่าย
            การใช้ทรัพยากรบนแม่ข่ายและในระบบเครือข่าย เว็บเอพีไอ คุกกี้
            เครื่องมือและไอดีอีสำหรับการพัฒนาเว็บ ระบบประมวลผลร่วมกับฐานข้อมูล
            ข้อคำนึงถึงด้านความปลอดภัยของการพัฒนาเว็บ <br /><br />
            Web application development processes; user interface design;
            dynamic web; client-side and server-side language; server
            services/resources; web API; cookies; tools and IDE for web
            application development; database integration application; security
            issues for web application
          </v-row>
        </v-col>
      </v-row>
    </v-card>
  </v-container>
</template>

<style scoped>
h1 {
  font-family: naruke;
  font-size: 65px;
  padding-left: 1%;
  padding-bottom: 0.5em;
}
.card {
  margin-top: 20px;
  padding-top: 30px;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 30px;
}
.text-center {
  font-family: naruke;
  -webkit-text-stroke: 0.5px black;
  font-size: 45px !important;
}
.td {
  font-family: naruke;
  font-size: 18px;
  text-align: center;
}
</style>
