<script setup lang="ts">
import FrameWorksPop from "@/components/FrameworksPop.vue";
import { computed, ref } from "vue";

const frameList = ref([
  {
    name: "András Arató",
    img: "https://thedrum-media.imgix.net/thedrum-prod/s3/news/tmp/349138/y2mate.is_-_vodafone_happy_-wsdnhcz-7ca-1080p-1659682202149_moment.jpg?w=608&ar=default&fit=crop&crop=faces,edges&auto=format&dpr=1",
    age: 77,
  },
  {
    name: "Chloe Clem",
    img: "https://c.files.bbci.co.uk/16DA6/production/_120660639_thumbnail_chloesideeye_clean.jpg",
    age: 12,
  },
  {
    name: "Success Kid,",
    img: "https://i1.wp.com/media.globalnews.ca/videostatic/297/599/successkid_thumb.jpg?w=1040&quality=70&strip=all",
    age: 15,
  },
]);

function changeAge(index: number, age: number) {
  console.log("action " + index + " : " + age);
  frameList.value[index].age = age;
}

const orderList = computed(() => {
  return [...frameList.value].sort((n1, n2) => n1.age - n2.age);
});
</script>

<template>
  <h1>Starred</h1>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of frameList" :key="index"
        ><FrameWorksPop
          :name="item.name"
          :img="item.img"
          :age="item.age"
          :index="index"
          @change="changeAge"
        ></FrameWorksPop>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>Order</th>
              <th>Name</th>
              <th>Age</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) of orderList" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.age }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
