<script setup lang="ts">
import { ref } from "vue";
const props = defineProps<{
  name: String;
  img: string;
  age: number;
  index: number;
}>();

const emits = defineEmits<{
  (e: "change", index: number, age: number): void;
}>();

// const props = defineProps({
//   name: {
//     type: String,
//     required: true,
//   },
//   img: {
//     type: String,
//     required: true,
//   },
//   age: {
//     type: Number,
//     required: true,
//   },
//   index: {
//     type: Number,
//     required: true,
//   },
// });

const count = ref(props.age);
function inc() {
  count.value++;
  emits("change", props.index, count.value);
}
function dnc() {
  count.value--;
  emits("change", props.index, count.value);
}
</script>

<template>
  <v-card class="mx-auto" max-width="344" variant="outlined">
    <v-img :src="props.img" heigh="200px" cover></v-img>
    <v-card-item>
      <div>
        <div class="text-h6 mb-1">{{ props.name }}</div>
        <div class="text-caption">Age : {{ count }}</div>
      </div>
    </v-card-item>

    <v-card-actions class="justify-center">
      <v-btn style="background-color: orange" @click="dnc()"> - </v-btn>
      <v-btn style="background-color: green" @click="inc()"> + </v-btn>
    </v-card-actions>
  </v-card>
</template>
