<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-spacer></v-spacer>

      <v-btn
        :prepend-icon="theme === 'light' ? mdiWeatherSunny : mdiWeatherNight"
        @click="onClick"
        >Toggle Theme</v-btn
      >
    </v-app-bar>

    <v-navigation-drawer expand-on-hover rail permanent>
      <v-list>
        <v-list-item
          prepend-avatar="https://scontent.fbkk5-5.fna.fbcdn.net/v/t1.15752-9/316061532_708256930735355_3878442096480255933_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_eui2=AeEPTufRYta-SoXDp954e6KRsBgxUcjzn36wGDFRyPOffhal-s9YaZ8e1dFQCGKkHY-vNhLAZw4kwxY9FRK4aOKe&_nc_ohc=y5PvmK0ohP4AX9cOlyn&_nc_ht=scontent.fbkk5-5.fna&oh=03_AdQ8yQK0pRGnT2ym9V92uIb3Pq-fW8xvgdK_ERr5mO3ljA&oe=63C64D4C"
          title="Kittipon Thaweelarb"
          subtitle="63160184@go.buu.ac.th"
          value="my profile"
          to="/my-profile"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          :prepend-icon="mdiFolder"
          title="My Files"
          value="myfiles"
          to="/my-file-vue"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiAccountMultiple"
          title="My Profile"
          value="my profile"
          to="/my-profile"
        ></v-list-item>
        <v-list-item
          :prepend-icon="mdiStar"
          title="Starred"
          value="starred"
          to="/starred-vue"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import { ref } from "vue";
import {
  mdiStar,
  mdiAccountMultiple,
  mdiFolder,
  mdiWeatherSunny,
  mdiWeatherNight,
} from "@mdi/js";

const theme = ref("light");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
</script>
